/* -- common-css -- */
.calculator {
  display: flex;
  flex-direction: column;
  height: 430px;
  max-width: 320px;
  margin: 100px auto;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
}
.calculator .result {
  padding: 1rem;
  text-align: right;
  font-size: 28px;
  text-align: right;
  border-bottom: 1px solid #2b2e3580;
  height: 66px;
}
.result p {
  margin: 0rem;
}
.theme_btn--col {
  margin: 1rem 0rem;
}
.btn {
  padding: 0.5rem 0.9rem;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  width: 25%;
  height: 55px;
}
.scifi {
  width: 50%;
}
.btn.action {
  color: #f18500!important;
}
.theme_btn {
  width: 110px;
  margin: 0 5px;
}
.calculator .btn:active {
  border: 2px solid #cee0ff6e;
}
/* -- dark-theme -- */

.dark .calculator {
  background-color: #000;
}
.dark .result {
  color: #fff;
}
.dark .btn  {
  background-color: #000;
  border-color: #cee0ff4f;
  color: #fff;
}

/* -- light-theme --  */

.light .calculator {
  background-color: #fff;
  box-shadow: 0 7px 46px rgba(223, 225, 235, 0.75);
}
.light .result {
  color: #000;
}
.light .btn  {
  background-color: #fff;
  border-color: #9ea0a24f;
  color: #000;
}
